<div class="container">
    <div>
    <h2>ADD Singer :</h2>
    </div>
    <form >
        <div class="col-sm-2 col-md-2 col-lg-2">
        <label >ID singer</label>
        <input type="text" [(ngModel)]="newSinger.idSinger"
        name="id" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4" >
        <label >Singer name</label>
        <input type="text"[(ngModel)]= "newSinger.nomSinger"
        name="nom" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4" >
            <label >Country</label>
            <input type="text"[(ngModel)]= "newSinger.paysSinger"
            name="nom" class="form-control">
            </div>
        
        <div class="col-sm-4 col-md-4 col-lg-4">
        <label >Birth Date</label>
        <input type="date" [(ngModel)]= "newSinger.dateFound"
        name="dateCreation" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Types</label>
            <select class="form-control form-control-lg" id="idCat" name="idCat"
            [(ngModel)]="newid">
            <option *ngFor="let cat of type" [value]="cat.idLeg" >
            {{cat.nomType}}
            </option>
            </select>
            </div>
            <div class="col-sm-16 col-md-16 col-lg-16">
                <label class="mb-2">Image :</label>
                <input type="file" (change)="onImageUpload($event)"
                name="logo" class="form-control">
                </div>
                <div class="col-sm-16 col-md-16 col-lg-16">
                    <img [src]="imagePath" class="singerd-img-top img-fluid rounded-start"
                    style="width: 500px; height: 300px" />
                    </div>
                    
        <div class="mt-2">
        <button type="submit" (click)="addSinger()"class="btn btn-success" >Add</button>
        </div>
        </form>
        
        </div>